/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,300&family=Hind+Madurai:wght@300&family=Londrina+Outline&family=Londrina+Solid&display=swap');

/* Commons */

body {
    --main-bg-color: white;
    --main-text-color: #3b3b3b;
    --secondary-text-color: lightcoral;
    --third-text-color: #cccccc;
    --grey-color: #efefef;

    --dark-bg-color: #222;
    --dark-top-color: var(--main-text-color);
    --dark-text-color: var(--third-text-color);

    --title-font-family-solid: 'Londrina Solid', cursive;
    --title-font-family-outline: 'Londrina Outline', cursive;
    --subtitle-font-family: 'Fira Sans', sans-serif;
    --text-font-family: 'Hind Madurai', sans-serif;

    transition: background-color 0.3s ease;
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
    font-family: var(--text-font-family);


    --sm-portrait-size: 576px;
    --sm-landscape-size: 768px;
}

/* Dark theme */

.dark-theme {
    color: var(--dark-text-color);
}

/* Helpers */

.bold {
    font-weight: bold;
}

/* Selected */
::-moz-selection {
    color: var(--main-bg-color);
    background: var(--secondary-text-color);
}

::selection {
    color: var(--main-bg-color);
    background: var(--secondary-text-color);
}

/* Scrollbar */
html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}

/* Route transition */

.slide-right-enter-from,
.slide-left-leave-to {
    opacity: 0;
    transform: translateX(100px);
}

.slide-right-enter-active,
.slide-left-enter-active {
    transition: all 0.3s ease-out;
}

.slide-right-leave-to,
.slide-left-enter-from {
    opacity: 0;
    transform: translateX(-100px);
}

.slide-right-leave-active,
.slide-left-leave-active {
    transition: all 0.3s ease-in;
}

/* All transitions */

.fade-enter-from,
.fade-1-enter-from,
.fade-2-enter-from,
.fade-3-enter-from,
.fade-leave-to,
.fade-1-leave-to,
.fade-2-leave-to,
.fade-3-leave-to {
    opacity: 0;
}

.fade-enter-active,
.fade-leave-active,
.fade-1-leave-active,
.fade-1-enter-active,
.fade-2-leave-active,
.fade-2-enter-active,
.fade-3-leave-active,
.fade-3-enter-active {
    transition: opacity 0.3s ease;
}

.fade-1-leave-active,
.fade-1-enter-active {
    transition-delay: 0.5s;
}

.fade-2-leave-active,
.fade-2-enter-active {
    transition-delay: 1s;
}

.fade-3-leave-active,
.fade-3-enter-active {
    transition-delay: 1.5s;
}

/* Animation for spin loading */
@keyframes spin {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}

/* Container style */
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 100px;
    width: inherit;
}

@media (min-width: 576px) and (max-width: 767px) {
    .container {
        width: 540px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .container {
        width: 720px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .container {
        width: 720px;
    }
}

@media (min-width: 1200px) and (max-width: 1600px) {
    .container {
        width: 960px;
    }
}

@media (min-width: 1601px) {
    .container {
        width: 1140px;
    }
}